@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --vhHeight: 10vh;
    --userImgHeight: 35px;
    --userImgWidth: 35px;
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: rgba(211, 211, 211, 0.096);
}

.white-background{
    background-color: white;
}

.shadow{
    box-shadow: 5px 5px 5px gray;
}

.main-header{
    display: flex;
    width: 99.9vw;
    flex-direction: column;
    align-self: flex-end;
}

#top-header-img-user,#bottom-header-img-user{
    border-radius: 60%;
}

#top-header-img-user{
    height: var(--userImgHeight);
    width: var(--userImgWidth);
}

#bottom-header-img-user{
    height: calc(var(--userImgHeight) * 2) ;
    width: calc(var(--userImgWidth) * 2);
}

.top-header,.bottom-header{
    margin-top: 8px;
    margin-bottom: 8px;
}

.top-header{
    display: inline-flex;
    width: 95vw;
    height: 10vh;
    gap: 50px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

#input-text{
    margin-right: 50px;
    border-radius: 30px;
    border: none;
    background-color: rgba(128, 128, 128, 0.562);
    width: 45vw;
}

.bottom-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.greetings{
    margin-left: 2vw;
    margin-right: 33vw;
}

.buttons,.greetings,.user-name{
    font-weight: 600;
}

.buttons{
    width: 89px;
    height: 38px;
    border: none;
    background-color: rgb(8, 206, 241);
    color: white;
    border-radius: 25px;
    margin-right: 2vw;
}

.boder-elements{
    display: flex;
    flex-direction: column;
    width: 15vw;
    background-color: rgb(0, 162, 255);
    height: calc(var(--vhHeight) * 15);
    margin-top: -27vh;
}

.border-ops{
    font-weight: bold;
    color: white;
    margin-left: 40px;
    cursor: pointer;
    margin-bottom: 50px;
}

.right-border{
    margin-top: -32vw;
    margin-left: 85vw;
    width: 10vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.right-border-content{
    border-radius: 20px;
}

.middle-element{
    margin-top: -60vh;
    margin-left: 16vw;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    width: 60vw;
}

.middle-content{
    margin-top: 3vh;
    text-align: left;
    border-radius: 10px;
    border-left: 5px solid yellow;
    display: flex;
}

.middle-text{
    font-weight: bold;
    margin-top: -2vh;
    position: absolute;
}

.bold-text{
    font-weight: bold;
}

.middle-content-inner-div{
    width: 90%;
    height: 20vh;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.icons{
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icons>i{
    cursor: pointer;
}

.center-content{
    margin-top: calc(var(--vhHeight) * -12);
    margin-bottom: 10vh;
}